<main >
  <section class="container d-flex align-items-center justify-content-center" height="100vh">
    <div class="container d-flex row">
      <div class="col-3 d-flex justify-content-center align-items-center ">
        <img src="./../../../assets/img/profile.jpg" alt="">

      </div>
      <div class="about col d-flex align-items-center wrap" >
        <h2 class="fw-normal">
          About me
        </h2>
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus, delectus cupiditate perspiciatis
           cumque sit earum dolorem distinctio aperiam necessitatibus tempora.
        </p>
        <h2 class="fw-normal">
          Skills
        </h2>
        <div class="skills">
          <article class="skill-article">
            <ul class="skills-tree row ">
              <li class="skill-item">
                <span><i class="fa-brands fa-html5 fa-3x"></i></span>
                <span class="skill-name">HTML</span>
              </li>
              <li class="skill-item">
                <span><i class="fa-brands fa-css3-alt fa-3x"></i></span>
                <span class="skill-name">CSS</span>
              </li>
              <li class="skill-item">
                <span><i class="fa-brands fa-square-js fa-3x"></i></span>
                <span class="skill-name">JavaScript</span>
              </li>
              <li class="skill-item">
                <span style="width: 40px;"><img src="../../../assets/typescript-svgrepo-com.svg"alt=""></span>
                <span class="skill-name">Typescript</span>
              </li>
              <li class="skill-item">
                <span><i class="fa-brands fa-sass fa-3x"></i></span>
                <span class="skill-name">Sass</span>
              </li>
              <li class="skill-item">
                <span><i class="fa-brands fa-bootstrap fa-3x"></i></span>
                <span class="skill-name">Bootstrap</span>
              </li>
              <li class="skill-item">
                <span><i class="fa-brands fa-angular fa-3x"></i></span>
                <span class="skill-name">Angular</span>
              </li>
              <li class="skill-item">
                <span><i class="fa-brands fa-react fa-3x"></i></span>
                <span class="skill-name">React</span>
              </li>
              <li class="skill-item">
                <span><i class="fa-brands fa-git fa-3x"></i></span>
                <span class="skill-name">Git</span>
              </li>
              <li class="skill-item">
                <span style="width: 2.5em;"><i class="fa-brands fa-figma fa-3x"></i></span>
                <span class="skill-name">Figma</span>
              </li>
            </ul>
          </article>
        </div>
      </div>
    </div>
  </section>
</main>
