<main>
  <section style="height: 100%;">
    <app-cloud-canvas></app-cloud-canvas>
    <div class="container">
      <h1 class="title1">Hi!</h1
     > <h2 class="title2">I am Leonel</h2>
     <div class="subtitle">
      <h3 class="title3">Frontend Developer (Angular)</h3>
      <div class="highlight"></div>
     </div>

      <p class="text">
          I like to create stuff while looking at the blue sky from my window...
          or any window...
          I just really like the blue sky.
      </p>
      <div class="icons">
        <a href="https://github.com/leonelpb"class="icon"><i class="fa-brands fa-github fa-3x"></i> </a>
        <a href="https://www.linkedin.com/in/leonelpb/"class="icon px-3"><i class="fa-brands fa-linkedin fa-3x"> </i></a>
      </div>
    </div>
    <div class="containerButton">
      <button type="button" class="btn btn-lg reverse">Let's start...</button>
    </div>
  </section>
</main>
