<main>
  <section>
    <form action=""><input type="text">
      <input type="text" name="nombre">
      <label for="nombre">Nombre</label>

      <input type="text" name="asunto">
      <label for="asunto">Asunto</label>

      <input type="text" name="mensaje">
      <label for="mensaje">Escribe tu mensaje</label>

      <button  type="submit">Enviar</button>
    </form>

    <div class="redes">
      <a href=""></a>
      <a href=""></a>
    </div>

    <div class="canales">
      <span>leonelperez.b23@gmail.com</span>
      <span>3517709201</span>
    </div>

  </section>
</main>
