<main>
  <section class="projects d-flex col justify-content-center align-items-center projects">
    <div class=" title col">
      <h2 class="fw-normal">Proyectos</h2>
     <div class="highlight"></div>
    </div>

    <article class="col-10">
      <div class="title col-5">
        <p class="type">Job simulation (No-country)</p>
       <h5>CLASSEMOTE</h5>
        <div class="highlight"></div>
      </div>

      <ul class="skillUsed-list row col-4">
        <li class="skill-item">
          <span>
            <i class="fa-brands fa-html5 fa-3x"></i>
          </span>
          <span class="skill-name">
            HTML
          </span>
        </li>
        <li class="skill-item">
          <span>
            <i class="fa-brands fa-css3-alt fa-3x"></i>
          </span>
          <span class="skill-name">
            CSS
          </span>
        </li>
        <li class="skill-item">
          <span>
            <i class="fa-brands fa-sass fa-3x"></i>
          </span>
          <span class="skill-name">
            Sass
          </span>
        </li>
        <li class="skill-item">
          <span>
            <i class="fa-brands fa-angular fa-3x"></i>
          </span>
          <span class="skill-name">
            Angular
          </span>
        </li>
        <li class="skill-item">
          <span>
            <i class="fa-brands fa-figma fa-3x"></i>
          </span>
          <span class="skill-name">
            Figma
          </span>
        </li>
      </ul>

      <div class="row">
        <div class="texto col-6">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias debitis ut,
            optio eaque consequuntur beatae asperiores. Quibusdam eum aut eaque.</p>
        </div>
        <div class="imagen col-4">
          <a href="https://s6-09-t-angular.vercel.app/inicio"><img src="./../../../assets/img/classemote.png" alt="">
          </a>
        </div>
      </div>
    </article>

    <article class="col-10">
      <div class="title col-5">
        <p class="type">Job simulation (No-country)</p>
        <h5 class="fw-normal">CHARTA</h5>
       <div class="highlight"></div>
      </div>


      <ul class="skillUsed-list row col-4">
        <li class="skill-item">
          <span>
            <i class="fa-brands fa-html5 fa-3x"></i>
          </span>
          <span class="skill-name">
            HTML
          </span>
        </li>
        <li class="skill-item">
          <span>
            <i class="fa-brands fa-css3-alt fa-3x"></i>
          </span>
          <span class="skill-name">
            Css
          </span>
        </li>
        <li class="skill-item">
          <span>
            <i class="fa-brands fa-sass fa-3x"></i>
          </span>
          <span class="skill-name">
            Sass
          </span>
        </li>
        <li class="skill-item">
          <span>
            <i class="fa-brands fa-angular fa-3x"></i>
          </span>
          <span class="skill-name">
            Angular
          </span>
        </li>
        <li class="skill-item">
          <span>
            <i class="fa-brands fa-figma fa-3x"></i>
          </span>
          <span class="skill-name">
            Figma
          </span>
        </li>
      </ul>

      <div class="row">
        <div class="texto col-6">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse in saepe praesentium expedita aliquam.
            Vitae, ducimus. Ducimus quam hic qui!</p>
        </div>
        <div class="imagen col-4">
          <a href="https://thatischarta.vercel.app/landing"><img src="./../../../assets/img/charta.png" alt=""></a>
        </div>
      </div>
    </article>

    <article class="col-10">
      <div class="title col-5">
        <p class="type">Personal project</p>
        <h5 class="fw-normal">Bill Spliter</h5>
       <div class="highlight"></div>
      </div>

      <ul class="skillUsed-list row col-4">
        <li class="skill-item">
          <span>
            ><i class="fa-brands fa-html5 fa-3x"></i>
          </span>
          <span class="skill-name">
            HTML
          </span>
        </li>
        <li class="skill-item">
          <span>
            <i class="fa-brands fa-css3-alt fa-3x"></i>
          </span>
          <span class="skill-name">
            CSS
          </span>
        </li>
        <li class="skill-item">
          <span>
            <i class="fa-brands fa-square-js fa-3x"></i>
          </span>
          <span class="skill-name">
            JavaScript
          </span>
        </li>
      </ul>

      <div class="row">
        <div class="texto col-6">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt similique laborum ducimus alias cupiditate distinctio.
            Beatae veniam ipsa qui voluptas.</p>
        </div>
        <div class="imagen col-4">
          <a href="https://leonelpb.github.io/bill-splitter/"><img src="./../../../assets/img/billsplitter.png" alt=""></a>
        </div>
      </div>
    </article>

    <article class="col-10">
      <div class="title col-5">
        <p class="type">Personal project</p>
        <h5 class="fw-normal">Alessandra Lingerie</h5>
        <div class="highlight"></div>
      </div>
      <div class="skills row">
        <ul class="skillUsed-list row col-4">
        <li class="skill-item">
          <span>
            <i class="fa-brands fa-html5 fa-3x"></i>
          </span>
          <span class="skill-name">
            HTML
          </span>
        </li>
        <li class="skill-item">
          <span>
            <i class="fa-brands fa-css3-alt fa-3x"></i>
          </span>
          <span class="skill-name">
            CSS
          </span>
        </li>
        <li class="skill-item">
          <span>
            <i class="fa-brands fa-square-js fa-3x"></i>
          </span>
          <span class="skill-name">
            JavaScript
          </span>
        </li>
      </ul>
    </div>


      <div class="row">
        <div class="texto col-6">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium officia soluta placeat autem aperiam
            sequi adipisci voluptatum ad debitis eos!
        </p>
      </div>
        <div class="imagen col-6">
          <a href="https://leonelpb.github.io/sitio-web-dinamico/"><img src="./../../../assets/img/alessandra.png" alt=""></a>
        </div>
      </div>
    </article>
  </section>
</main>
